$mirage: linear-gradient(to right, #3A6073, #16222A);
$midnight: linear-gradient(to right, #232526, #414345);
$steel: linear-gradient(to right, #1f1c2c, #928dab);
$aubergine: linear-gradient(to right, #aa076b, #61045f);